[DEFAULT]
DISCORD_TOKEN = YOUR_DISCORD_TOKEN
VOICETEXT_API_KEY = YOUR_VOICETEXT_API_KEY
CREDENTIAL_JSON_DIR = YOR_GCP_KEY_PATH
;ABSOLUTE_PATH
PREFIX = y.
SPEAKER = hikari
;show/haruka/hikari/takeru/santa/bear
PITCH = 100
;50~200 DEFAULT:100
SPEED = 100
;50~400 DEFAULT:100
