[DEFAULT]
DISCORD_TOKEN = YOUR_DISCORD_TOKEN
USE_GOOGLE_TTS = False
GOOGLE_API_KEY = YOUR_GOOGLE_API_KEY
;USE_GOOGLE_TTS=True の場合のみ必須。GCPのAPIキーを設定してください。
PREFIX = y.
AFK_TIME = 1800
;sec
SD_MSG = 突然の死
;y.sd を引数なしで実行したときに読み上げるメッセージ