{
    "DISCORD_TOKEN": "YOUR_DISCORD_TOKEN",
    "VOICETEXT_API_KEY": "YOUR_VOICETEXT_API_KEY",
    "PREFIX": "yomi.", //DEFAULT:"yomi."
    "SPEAKER": "hikari", //show/haruka/hikari/takeru/santa/bear DEFAULT:"hikari"
    "PITCH": 100, //50~200 DEFAULT:100
    "SPEED": 110 //50~400 DEFAULT:110
}